a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
}

table,
caption,
tbody,
tr,
td {
}

#tinymce * {
  box-sizing: border-box;
}

#tinymce div {
  display: grid;
}

#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5 {
  line-height: 1.2em !important;
}

#tinymce h1 {
  font-size: 32px !important;
  margin-bottom: 16px !important;
}

#tinymce h2 {
  font-size: 24px !important;
  margin: 40px 0 20px !important;

  position: relative !important;
  padding-top: 12px !important;
}

#tinymce h2::before {
  background: url('/assets/list-item.svg') no-repeat 50% !important;
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
  width: 42px !important;
  height: 2px !important;
}

#tinymce h3 {
  font-size: 20px !important;
  margin: 40px 0 20px !important;
}

#tinymce p {
  color: inherit !important;
  background: inherit !important;
  font-size: 17px !important;
  line-height: 1.4em !important;
  margin: 0 0 20px !important;
}

#tinymce a {
  color: #008be2 !important;
  text-decoration: underline !important;
  background-color: transparent !important;
}

#tinymce ul {
  list-style-position: outside !important;
  list-style-type: none !important;
  margin: 0 0 40px !important;
  padding: 0 !important;
}

#tinymce li {
  color: inherit !important;
  background: inherit !important;
  font-size: 17px !important;
  line-height: 21px !important;
  margin-bottom: 15px !important;
  padding-left: 25px !important;
  position: relative !important;
}

#tinymce ul > li::before {
  background: url('/assets/list-item.svg') no-repeat 50% !important;
  content: '' !important;
  position: absolute !important;
  top: 6px !important;
  left: 5px !important;
  display: block !important;
  width: 10px !important;
  height: 9px !important;
}

#tinymce table {
  display: grid;
  overflow-x: auto;
  grid-template-columns: repeat(var(--cols), 1fr);
}

#tinymce caption {
  caption-side: bottom;
  color: #999;
  font-size: 14px;
  text-align: center;
}

#tinymce tbody {
  display: contents;
}

#tinymce th {
  display: contents;
  padding: 12px 16px;
}

#tinymce tr {
  display: contents;
  padding: 12px 16px;
}

#tinymce tr:nth-child(1) {
  background: #e9e9e9;
  border: 1px solid #dfdede;
  color: #777;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#tinymce tr:nth-child(odd) {
  background: linear-gradient(0deg, #f4f4f4, #f4f4f4),
    linear-gradient(180deg, #fff -1.39%, #f1efef 107.71%);
}

#tinymce td {
  display: grid;
  padding: 12px 16px;
}
