#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
  line-height: 1.2em !important;
}

#content h1 {
  font-size: 32px !important;
  margin-bottom: 16px !important;
}

#content h2 {
  font-size: 24px !important;
  margin: 40px 0 20px !important;

  position: relative !important;
  padding-top: 12px !important;
}

#content h2::before {
  background: url('/images/rest/h2-line.svg') no-repeat 50% !important;
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
  width: 42px !important;
  height: 2px !important;
}

#content h3 {
  font-size: 20px !important;
  margin: 40px 0 20px !important;
}

#content p {
  color: inherit !important;
  background: inherit !important;
  font-size: 17px !important;
  line-height: 1.4em !important;
  margin: 0 0 20px !important;
}

#content a {
  color: #008be2 !important;
  text-decoration: underline !important;
  background-color: transparent !important;
}

#content ul {
  list-style-position: outside !important;
  list-style-type: none !important;
  margin: 0 0 40px !important;
  padding: 0 !important;
}

#content li {
  color: inherit !important;
  background: inherit !important;
  font-size: 17px !important;
  line-height: 21px !important;
  margin-bottom: 15px !important;
  padding-left: 25px !important;
  position: relative !important;
}

#content ul > li::before {
  background: url('/images/rest/list-item.svg') no-repeat 50% !important;
  content: '' !important;
  position: absolute !important;
  top: 6px !important;
  left: 5px !important;
  display: block !important;
  width: 10px !important;
  height: 9px !important;
}
